@charset "UTF-8"


@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Open+Sans&display=swap');

:root {
    --font-test:'JetBrains Mono', monospace;
}
body {
    font-family: var(--font-test);
    
}
header nav{
    text-align: right;
    margin-top: 30px;
}

header a{
    color: black;
    font-size: 1.3em;
    text-align: right;
    text-decoration: none;
    background-color: rgba(248, 248, 248, 0.671);
    padding: 4px;
}
header a:hover{
    background-color: black;
    color: rgba(248, 248, 248, 0.671);
    transition: .5s;
    
}
span.bola{
    padding-right: 21px;
    margin: 25px;
    border-radius: 250px;
    background-color: black;
}
span.bola:active{
    background-color: blueviolet;
}
main h1{
    margin: 100px 250px 75px 100px;
    text-align: left;
    font-weight: lighter;
}
main h1.right{
    margin: 0px 25px 50px 100px;
    text-align: right;
    line-height: .9em;
}
main div.quadrado{
    background-color: black;

    height: 160px;
    width: 130px;
    margin: 20px;
    border-radius: 27px;
}
div.quadrado:hover{
    background-color: rgba(248, 248, 248, 0.671);
    border: 1px solid black;
}
footer div#dia{
    
    text-align: right;
    margin-left: 320px;
    padding-left: 0px;
    margin-right: 25px;
}
footer div#data{
    padding-left: 0px;
    text-align: right;
    margin-top: 1px;
    margin-left: 320px;
    margin-right: 25px;
}
