@charset 'UTF-8'

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
                /*seleciona de 2 em 2 começando pelo 1*/
/*p:nth-of-type 2n+1 
  color: red;

                /*seleciona de 3 em 3 começando pelo 2*/
/*p:nth-of-type 3n+2 
  color: red;


                /*seleciona de 3 em 3 */
/*p:nth-of-type 3n 
  color: red;
*/  section{
    margin: 0px;
}
    div{
        width: 100%;
        height: 400px;
        

        background-position: 
        center;
        background-size: cover;
        background-attachment: fixed;
    }
    h1{
        text-align: center;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        text-align: center;
        padding-left: 4%;
        padding-right: 4%;
        color: rgb(20, 20, 20);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    section div:nth-of-type(1){
        background-image: url("img/imagem1.jpg");
    }
    section div:nth-of-type(2){
        background-image: url("img/imagem2.jpg");
    }
    section div:nth-of-type(3){
        background-image: url("img/imagem3.jpg");
    }    
    section div:nth-of-type(4){
        background-image: url("img/imagem4.jpg");
    }
