@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;

}
html, body {
    min-height: 100vh;/*viewport height*/
    background-color: grey;
}
header {
    background-color:black;
    color: white;
    text-align: center;
}
header h1 {
    padding-top: 50px;
    font-variant: small-caps;/*letras maiúsculas mas as primeiras são maiores*/
}
header p {
    padding-bottom: 50px;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(58, 57, 57, 0.527);
    color: white;
    padding-left: 30px;
}
section.imagem p{
    background-color: rgba(0, 0, 0, 0.438);
    width:400px;
    
}
section{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30px;
    line-height: 2em;
}

